main {}
/* sec1 */
main #sec1_bg {
    width: 100%; background: url(../images/sec1/sec1_bg.png) no-repeat center; background-size: cover;
}
main #sec1_bg #sec1 {
    width: 1000px; height: 947px; margin: 0 auto; position: relative;
}
main #sec1_bg #sec1 .flag {
    width: 1000px; height: 135px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
main #sec1_bg #sec1 .flag img {
    width: 178px; height: 135px;
}
main #sec1_bg #sec1 .title_stamp {
    width: 557px; height: 242px; position: absolute; top: 27px; left: calc(50% - 278.5px);
}
main #sec1_bg #sec1 .title_stamp h1 {}
main #sec1_bg #sec1 .title_stamp h1 img {width: 100%;}
main #sec1_bg #sec1 .message {
    width: 589px; height: 242px; position: absolute; top: 300px; left: calc(50% - 294.5px);
}
main #sec1_bg #sec1 .message img {width: 100%;}
main #sec1_bg #sec1 .school_bus {
    width: 722px; height: 504px; position: absolute; top: 400px; left: calc(50% - 363px);
}
main #sec1_bg #sec1 .school_bus img {width: 100%;}
/* sec2 */
main #sec2_bg {width: 100%; height: 577px; background: #9fa34e;}
main #sec2_bg #guide_wrapper {
    background-color: #fff3e1; width: 960px; height: 477px; margin: 0 auto; position: relative;
}
main #sec2_bg #guide_wrapper li {}
main #sec2_bg #guide_wrapper li h2 {
    font-family: '나눔명조'; font-weight: 700; font-size: 30px; text-align: center; padding: 60px 0 40px;
}
main #sec2_bg #guide_wrapper .h2_bracket {
    width: 261px; height: 32px; margin: 0 auto; position: absolute; top: 58px; left: calc(50% - 130.5px);
}
main #sec2_bg #guide_wrapper .h2_bracket img {width: 100%;}
main #sec2_bg #guide_wrapper .guide_table {
    width: 800px; height: 254px; margin: 0 auto; margin-bottom: 20px;
}
main #sec2_bg #guide_wrapper .guide_table img {width: 100%;}
main #sec2_bg #guide_wrapper .present {
    font-family: 'notosans_cjk'; font-weight: 300; font-size: 15px; text-align: center;
}
main #sec2_bg #guide_wrapper .present em {font-weight: 500;}
main #sec2_bg #guide_wrapper .deadline_bedge {
    width: 84.01px; height: 84.01px; position: absolute; top: 114px; right: 35px;
}
main #sec2_bg #guide_wrapper .deadline_bedge img {width: 100%;}
/* sec3 */
main #sec3_bg {width: 100%; background: url(../images/sec3/sec3_bg.png) no-repeat center; background-size: cover;}
main #sec3_bg #sec3 {
    width: 1000px; height: 1296px; margin: 0 auto; position: relative;
}
main #sec3_bg #sec3 .interview_video {
    position: absolute; top: 178px; left: calc(50% - 230px);
}
main #sec3_bg #sec3 .interview_video video {
    width: 460px; height: 259px;
}
main #sec3_bg #sec3 .best_review {
    position: absolute; bottom: 210px; left: calc(50% - 480px);
    display: flex; flex-flow: row wrap; justify-content: space-between;
    height: 497px;
}
main #sec3_bg #sec3 .best_review a {
    width: 300px; height: 243px;
}
main #sec3_bg #sec3 .best_review a img {width: 100%;}
main #sec3_bg #sec3 .review_all {
    position: absolute; bottom: 100px; left: 50%;
    transform: translateX(-50%);
}
main #sec3_bg #sec3 .review_all a {
    font-family: 'notosnas_cjk'; font-weight: 500; font-size: 20px;
    color: #ffffff; background-color: #2e2c27;
    display: inline-block; text-align: center; padding: 25px 81px;
    border-radius: 5px;
}
main #sec3_bg #sec3 .yuji {
    width: 165px; height: 232.14px; position: absolute;
    bottom: 0; right: 0;
}
main #sec3_bg #sec3 .yuji img {width: 100%;}
/* sec4 */
main #sec4_bg {
    width: 100%; background: url(../images/sec4/sec4_bg.png) no-repeat center; background-size: cover;
}
main #sec4_bg #sec4 {
    width: 1200px; height: 905px; margin: 0 auto; position: relative;
}
main #sec4_bg #sec4 .blackboard {
    width: 1000px; height: 571px; position: absolute; top: 150px;
    left: calc(50% - 500px);
}
main #sec4_bg #sec4 .blackboard img {width: 100%;}
main #sec4_bg #sec4 .h2 {
    position: absolute; top: 230px; left: 50%; 
    transform: translateX(-50%);
}
main #sec4_bg #sec4 .h2 h2 {
    font-family: '나눔명조'; font-weight: 700; font-size: 30px;
    color: #ffffff; 
}
main #sec4_bg #sec4 .target_time {
    position: absolute; top: 631px; left: 50%; transform: translateX(-50%);
    font-family: 'notosnas_cjk'; font-weight: 300; font-size: 15px;
    color: #ffffff;
}
main #sec4_bg #sec4 .target_time em {font-weight: 500;}
main #sec4_bg #sec4 .yuji {
    width: 150px; height: 232.90px; position: absolute;
    bottom: 0; left: 220px;
}
main #sec4_bg #sec4 .yuji img {width: 100%;}
/* sec5 */
main #sec5_bg {
    width: 100%; background: url(../images/sec5/sec5_bg.png) no-repeat center; background-size: cover;
}
main #sec5_bg #sec5 {
    width: 960px; height: 1480px; margin: 0 auto; position: relative;
}
main #sec5_bg #sec5 .h2 {
    position: absolute; top: 148px; left: 50%; transform: translateX(-50%);
}
main #sec5_bg #sec5 .h2 h2 {
    font-family: '나눔명조'; font-weight: 700; font-size: 45px;
}
main #sec5_bg #sec5 .h2_bracket {
    width: 360px; height: 96px; position: absolute; top: 122px;
    left: calc(50% - 180px);
}
main #sec5_bg #sec5 .h2_bracket img {width: 100%;}
main #sec5_bg #sec5 .program_challenge {
    position: absolute; top: 252px; left: 50%; transform: translateX(-50%); width: 600px;
}
main #sec5_bg #sec5 .program_challenge p {
    font-family: 'notosnas_cjk'; font-weight: 300; font-size: 18px;
    text-align: center; line-height: 27px;
}
main #sec5_bg #sec5 .program_challenge p em {
    font-family: 'notosnas_cjk'; font-weight: 500; font-size: 18px;
}
main #sec5_bg #sec5 .mission_gola {
    width: 960px; height: 955px; position: absolute;
    top: 340px; left: calc(50% - 480px);
}
main #sec5_bg #sec5 .mission_gola img {width: 100%;}
main #sec5_bg #sec5 .yuji {
    width: 150.99px; height: 219px; position: absolute;
    bottom: 0; right: 240px;
}
main #sec5_bg #sec5 .yuji img {width: 100%;}
/* sec6 */