main {}
/* sec1 */
main #sec1_bg {
    width: 100%; background: url(../images/sec1/sec1_bg.png) no-repeat center; background-size: cover;
}
main #sec1_bg .sec1 {
    width: 1000px; height: 947px; margin: 0 auto; position: relative;
}
main #sec1_bg .sec1 .flag {
    width: 1000px; height: 135px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
main #sec1_bg .sec1 .flag img {
    width: 178px; height: 135px;
}
main #sec1_bg .sec1 .title_stamp {
    width: 557px; height: 242px; position: absolute; top: 27px; left: calc(50% - 278.5px);
}
main #sec1_bg .sec1 .title_stamp h1 {}
main #sec1_bg .sec1 .title_stamp h1 img {width: 100%;}
main #sec1_bg .sec1 .message {
    width: 589px; height: 242px; position: absolute; top: 300px; left: calc(50% - 294.5px);
}
main #sec1_bg .sec1 .message img {width: 100%;}
main #sec1_bg .sec1 .school_bus {
    width: 722px; height: 504px; position: absolute; top: 400px; left: calc(50% - 363px);
}
main #sec1_bg .sec1 .school_bus img {width: 100%;}
/* sec2 */
main #sec2_bg {width: 100%; height: 577px; background: #9fa34e;}
main #sec2_bg #guide_wrapper {
    background-color: #fff3e1; width: 960px; height: 477px; margin: 0 auto; position: relative;
}
main #sec2_bg #guide_wrapper li {}
main #sec2_bg #guide_wrapper li h2 {
    font-family: '나눔명조'; font-weight: 700; font-size: 30px; text-align: center; padding: 60px 0 40px;
}
main #sec2_bg #guide_wrapper .h2_bracket {
    width: 261px; height: 32px; margin: 0 auto; position: absolute; top: 58px; left: calc(50% - 130.5px);
}
main #sec2_bg #guide_wrapper .h2_bracket img {width: 100%;}
main #sec2_bg #guide_wrapper .guide_table {
    width: 800px; height: 254px; margin: 0 auto; margin-bottom: 20px;
}
main #sec2_bg #guide_wrapper .guide_table img {width: 100%;}
main #sec2_bg #guide_wrapper .present {
    font-family: 'notosans_cjk'; font-weight: 400; font-size: 15px; text-align: center;
}
main #sec2_bg #guide_wrapper .present em {font-weight: 500;}
main #sec2_bg #guide_wrapper .deadline_bedge {
    width: 84.01px; height: 84.01px; position: absolute; top: 114px; right: 35px;
}
main #sec2_bg #guide_wrapper .deadline_bedge img {width: 100%;}